[win]
host.domain.com


# example for AD domain settings
[win:vars]
ansible_user=username@DOMAIN.COM
ansible_password=password
ansible_connection=winrm
ansible_port=5985
ansible_winrm_transport=kerberos
ansible_winrm_server_cert_validation=ignore
ansible_winrm_kerberos_delegation=true


# example for non-domain auth
[win:vars]
ansible_user=username
ansible_password=password
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignore
